:root {
  /* Primary Colors */
  --gold-500: hsl(31, 77%, 52%);
  --cyan-800: hsl(184, 100%, 22%);
  --green-950: hsl(179, 100%, 13%);
  
  /* Neutral Colors */
  --white-transparent: hsla(0, 0%, 100%, 0.75);
  --gray-100: hsl(0, 0%, 95%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: var(--gray-100);
    font-family: Lexend Deca;
}

/*TYPOGRAPHY*/
h1{
    font-family: Big Shoulders;
    color: white;
}

main{
    display: flex;
}

.sedans-section{
    background-color: var(--gold-500);
    color: var(--white-transparent);
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 3rem;
}

.text-section{
    width: 210px;
    margin-bottom: 5rem;
}

button{
    padding: 0.5rem 2rem;
    border: none;
    color: var(--gold-500);
    font-family: Lexend Deca;
    border-radius: 25px;
    transition: background-color 0.25s, color 0.25s, border 0.25s;
}

button:hover{
    background-color: var(--gold-500);
    color: white;
    border: 1px solid white;
}