:root {
  /* Primary Colors */
  --gold-500: hsl(31, 77%, 52%);
  --cyan-800: hsl(184, 100%, 22%);
  --green-950: hsl(179, 100%, 13%);
  
  /* Neutral Colors */
  --white-transparent: hsla(0, 0%, 100%, 0.75);
  --gray-100: hsl(0, 0%, 95%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: var(--gray-100);
    font-family: Lexend Deca;
}

/*TYPOGRAPHY*/
h1{
    font-family: Big Shoulders;
    color: white;
}

main{
    display: flex;
    height: 500px;
}

img{
    height: 40px;
    width: 64px;
}

.suv-section, .sedans-section, .luxury-section{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: var(--gold-500);
    color: var(--white-transparent);
}

.sedans-section{
    background-color: var(--gold-500);
    color: var(--white-transparent);
    border-radius: 0.5rem 0 0 0.5rem;
}

.suv-section{
    background-color: var(--cyan-800);

}

.luxury-section{
    background-color: var(--green-950);
    border-radius: 0 0.5rem 0.5rem 0;
}



.text-section{
    width: 210px;
    margin-bottom: auto;
}

button{
    padding: 0.5rem 2rem;
    border: none;
    font-family: Lexend Deca;
    border-radius: 25px;
    border: 1px solid white;
    transition: background-color 0.25s, color 0.25s, border 0.25s;
    font-size: 1rem;
    margin-right: auto;
}

button:hover{
    color: white;
}

.sedan-learn-more{
    color: var(--gold-500);
}
.sedan-learn-more:hover{
    background-color: var(--gold-500);
}
.suv-learn-more{
    color: var(--cyan-800);
}
.suv-learn-more:hover{
    background-color: var(--cyan-800);
}
.luxury-learn-more{
    color: var(--green-950);
}
.luxury-learn-more:hover{
    background-color: var(--green-950);
}

